body{
	margin: -16px 0px 0px 0px;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;	
}

#page-wrapper{
	width: 100%;
	background: #475EA3;
}

.p-header{
	width: 100%;
	background: url(../images/fondo_superior.png) repeat-x center;
	height: 175px;
}

#block-block-7,
.p-post-header,
#content-wrapper{
	width: 960px;
	margin: 0 auto;
}

#quicktabs-navegacion_tolima_vive_digital{
	overflow: hidden;
}

#search-block-form{
	width: 200px;
	float: right;
}