body{
	margin: -16px 0px 0px 0px;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;	
}

#page-wrapper{
	width: 100%;
	background: url(../images/textura.png) repeat;

}

.p-header{
	width: 100%;
	background: url(../images/textura4.png) repeat-x center;
	height: 220px;
	background-position: 0px 76px;	
}
#pre-footer{
	background: url(../images/fondopeque.png) repeat;
	height: 400px;
	width: 100%;
}

#footer{
	background: url(../images/fondopeque.png) repeat;
	height: 120px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	margin-top: 4px;	
}

.region.region-footer{
	padding-top: 1px;
}
#post-footer{
	text-align: center;
	color: #E5E5F0;
	font-size: 13px;
	height: 110px;
	width: 100%;
	margin: 0 auto;
}

#block-block-7,
.p-post-header,
#content-wrapper,
#block-block-6{
	width: 966px;
	margin: 0 auto;
}

#quicktabs-navegacion_tolima_vive_digital{
	width: 100%;
	/*overflow: hidden;*/
}

#search-blvegatcion_tock-form{
	float: right;
}

#block-block-6{
	padding-top: 14px;
	overflow: hidden;

}

#block-block-6 .content{
	float: right;
}

#block-block-7{
	margin-top: -30px;
}

#quicktabs-navegacion_tolima_vive_digital .item-list li,
#quicktabs-navegacion_tolima_vive_digital .item-list li a{
	background: none;
	height: 66px;
	width: 161px;
	padding: 0px 10px 0px 0px;
	color: #2d3f71;
}

#quicktabs-navegacion_tolima_vive_digital .item-list ul{
	padding: 0px;
	background: none;
}

#quicktabs-container-navegacion_tolima_vive_digital{
	border: none;
}

#quicktabs-navegacion_tolima_vive_digital .item-list li:hover,
#block-block-6 .content a:hover,
.views-slideshow-controls-text-previous:hover,
.views-slideshow-controls-text-next:hover{
	opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=75); /* IE lt 8 */
	-ms-filter: "alpha(opacity=75)"; /* IE 8 */
	-khtml-opacity: .75; /* Safari 1.x */
	-moz-opacity: .75; /* FF lt 1.5, Netscape */
	color:#2D3F71;

}

.menu-1 a{
	background: url(../images/home2.png) no-repeat center !important;
}

.menu-2 a{
	background: url(../images/proyecto2.png) no-repeat center !important;
}

.menu-3 a{
	background: url(../images/servicios2.png) no-repeat center !important;
}

.menu-4 a{
	background: url(../images/ayuda2.png) no-repeat center !important;
}

.menu-5 a{
	background: url(../images/contacto2.png) no-repeat center !important;
}

#block-search-form{
	position: relative;
	width: 161px;
	height: 66px;
	float: right;
	z-index: 100;
}

.quicktabs_main.quicktabs-style-excel {
	padding-top: 70px;
}

#quicktabs-navegacion_tolima_vive_digital .group-middle{
	width: 454px;
	padding-left: 10px;
}

.group-left .field-label,
.group-middle .field-label,
.group-right .field-label{
	display: none;
}

.view-galeria-home .group-left{
	width: 630px;
}

.view-galeria-home .group-right{
	width: 291px;
	margin-left: 15px;
	text-align: justify;
	height: 336px;
	background: url(../images/fondopeque.png) repeat;
}

.view-galeria-home .group-right .field-name-body{
	overflow: hidden;
	padding-left: 15px;
	width: 275px;
	height: 325px;
	overflow-y: auto;
	color: #2d3f71;
}

.view-galeria-home .group-right .field-items{
	width: 245px;
}

.views-slideshow-controls-text-previous{
	background: url(../images/1SIG.png) no-repeat center;
	width: 57px;
	height: 108px;
	display: block;
	float: left;
	position: absolute;
	top: 110px;
	z-index: 200;
}

.views-slideshow-controls-text-next{
	background: url(../images/2SIG.png) no-repeat center;
	width: 57px;
	height: 108px;
	display: block;
	float: right;	
	position: absolute;
	top: 110px;
	right: 326px;
	z-index: 200;
}

.views-slideshow-controls-text-pause{
	display: none;
}

#quicktabs-proyecto .item-list li{
	width: 232px;
	height: 79px;
}

#quicktabs-proyecto .item-list .menu-proyecto-1{
	background: url(../images/tabs1.png) no-repeat center;
}

#quicktabs-proyecto .item-list .menu-proyecto-2{
	background: url(../images/tabs1.png) no-repeat center;
}

#quicktabs-proyecto .item-list .menu-proyecto-3{
	background: url(../images/tabs1.png) no-repeat center;
}

#quicktabs-proyecto .item-list .menu-proyecto-4{
	background: url(../images/tabs1.png) no-repeat center;
}


#quicktabs-servicios .item-list li{
	width: 232px;
	height: 79px;
}

#quicktabs-servicios .item-list .menu-servicios-1{
	background: url(../images/tabs1.png) no-repeat center;
}
#quicktabs-servicios .item-list .menu-servicios-2{
	background: url(../images/tabs1.png) no-repeat center;
}
#quicktabs-servicios .item-list .menu-servicios-3{
	background: url(../images/tabs1.png) no-repeat center;
}
#quicktabs-servicios .item-list .menu-servicios-4{
	background: url(../images/tabs1.png) no-repeat center;
}
#quicktabs-servicios .item-list .menu-servicios-5{
	background: url(../images/tabs1.png) no-repeat center;
}

#quicktabs-container-servicios{
	background: url(../images/fondopeque.png) repeat;
	margin-left: 72px;
	-webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius:20px; 
	color: #2d3f71;
	width: 70%;
}

#quicktabs-container-proyecto{
	background: url(../images/fondopeque.png) repeat;
	margin-left: 72px;
	-webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius:20px; 
	color: #2d3f71;
	width: 70%;
}

.p-pre_footer-right{
	width: 339px;
	height: 42px;
	z-index: 200;
	margin-left: 171px;
	margin-top: -72px;
}

.p-pre_footer-left{
	width: 339px;
	height: 42px;
	z-index: 900;
	margin-left: 900px;
	margin-top: -37px;
	text-align: justify;
}
.p-pre_footer-middle{
	width: 339px;
	height: 42px;
	z-index: 400;
	margin-left: 520px;
	margin-top: -37px;
	text-align: justify;
}

.view-header{

	background: url(../images/fondopeque.png) repeat;
	color: #2d3f71;
	margin-right: 10px;
	-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius:10px; 
	text-align: justify;
	overflow: hidden;
	padding-left: 20px;
	padding-right: 20px;

}

.view-content{
	color: #FFFFFF;
}

.ui-accordion-content{
	background: url(../images/fondopeque.png) repeat;
	color: #2d3f71;
}
.views-field a{
	color: #2d3f71;
	padding: 0px;
	background: url(../images/flecha.png) right no-repeat;

}
.views-field {
	color: #2d3f71;
	padding: 0px;
	background: url(../images/fondopeque.png) repeat;

}

#node-9{
	color: #fff;
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
}

.form-item label{
	width: 80px;
	display: inline-block;
	*display: inline;
	z-index: 2;
	padding-left: 30px;
}

#edit-submitted-mensaje{
	margin-top: 20px;
}

.form-submit{
	background: url(../images/fondopeque.png) repeat;
	width: 80px;
	height: 30px;
	-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius:10px; 

}
